@page
@using RecipeModels;
@model FinalProjectRecipe.Pages.Recipes.RecipeNotApprovedModel
@{
    ViewData["Title"] = "Recipe Not Approved Page";
}
<h1>Recipe page</h1>
<h4>Consult all recipes not approved</h4>

<table class="allRecipe-table">
    <tr>
        <th>Name</th>
        <th>User</th>
        <th>Category</th>
        <th>Difficulty</th>
        
    </tr>
    @if(Model.Recipes != null)
    {
        foreach (Recipe recipe in Model.Recipes)
        {
            <tr>
            
                <td>@recipe.Name</td>
                <td>@recipe.User.UserName</td>               
                <td>@recipe.Category.Name</td>
                <td>@recipe.Difficulty.Name</td>
                <form id="frmTableRecipe_@recipe.Id" method="post">

                <td>
                    <button id="btnSubmit_@recipe.Id" class="btn btn-primary" asp-route-id="@recipe.Id" type="submit" asp-page-handler="GetRecipeDetails">Details</button>
                </td>

                </form>
            </tr>


        }
    }
    
</table>
